@using WebClient.Models
@inject ISnackbar Snackbar

<div class="d-flex flex-column align-stretch" Width="100%">
    @foreach (RevitFile revitFile in BrowserFiles)
    {
        <div class="d-flex flex-row justify-space-between align-center mud-elevation-1 rounded white pa-2 my-2">
            <MudText Typo="Typo.body1" Class="flex-grow-1">
                @revitFile.Name
            </MudText>
            <MudText Typo="Typo.body1" Class="flex-grow-1">
                @revitFile.Status.Text
            </MudText>
            <MudText Typo="Typo.body1" Class="flex-grow-1">
                @revitFile.Version
            </MudText>
            <MudProgressCircular class="@(revitFile.Status.IsLoading ? "visible" : "invisible")" Color="Color.Primary" Indeterminate="true" />
            <MudIconButton Icon="@Icons.Material.Filled.Download"
                           class="@(revitFile.DownloadUrl != null ? "visible" : "invisible")"
                           aria-label="download" Color="Color.Primary" Href="@revitFile.DownloadUrl">
            </MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.CloudUpload"
                           aria-label="add" Color="Color.Primary"
                           OnClick="(() => UploadFile(revitFile))">
            </MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                           aria-label="delete" Color="Color.Primary"
                           OnClick="(() => RemoveFile(revitFile))">
            </MudIconButton>
        </div>
    }
</div>